<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Data Source=.\sqlserver2017;Initial Catalog=KMBDB;Persist Security Info=True;User ID=sa;Password=kl314275;Timeout=200"
     providerName="System.Data.SqlClient" />
    <!--<add name="A_ConnectionString" connectionString="Data Source=10.1.1.1;Initial Catalog=AAA;Persist Security Info=True;User ID=帳號;Password=密碼"
     providerName="System.Data.SqlClient" />
    <add name="B_ConnectionString" connectionString="Data Source=10.2.2.2;Initial Catalog=BBB;Persist Security Info=True;User ID=帳號;Password=密碼"
     providerName="System.Data.SqlClient" />-->
    <add name="KMBWindowsApplication.Properties.Settings.KMBDBConnectionString"
     connectionString="Data Source=DESKTOP-3M50CE3\SQLSERVER2017;Initial Catalog=KMBDB;User ID=sa;Password=kl314275"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
